# Pre processing

In [15]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from pyspark.sql import SparkSession

In [16]:
spark = SparkSession.builder.appName('Spaceship').getOrCreate()

In [17]:
train_data = spark.read.csv("train.csv", inferSchema=True, header=True)
validation_data = spark.read.csv("test.csv", inferSchema=True, header=True)

train_data.show()

+-----------+----------+---------+-----+-------------+----+-----+-----------+---------+------------+------+------+------------------+-----------+
|PassengerId|HomePlanet|CryoSleep|Cabin|  Destination| Age|  VIP|RoomService|FoodCourt|ShoppingMall|   Spa|VRDeck|              Name|Transported|
+-----------+----------+---------+-----+-------------+----+-----+-----------+---------+------------+------+------+------------------+-----------+
|    0001_01|    Europa|    false|B/0/P|  TRAPPIST-1e|39.0|false|        0.0|      0.0|         0.0|   0.0|   0.0|   Maham Ofracculy|      false|
|    0002_01|     Earth|    false|F/0/S|  TRAPPIST-1e|24.0|false|      109.0|      9.0|        25.0| 549.0|  44.0|      Juanna Vines|       true|
|    0003_01|    Europa|    false|A/0/S|  TRAPPIST-1e|58.0| true|       43.0|   3576.0|         0.0|6715.0|  49.0|     Altark Susent|      false|
|    0003_02|    Europa|    false|A/0/S|  TRAPPIST-1e|33.0|false|        0.0|   1283.0|       371.0|3329.0| 193.0|      Solam Susent|      false|
|    0004_01|     Earth|    false|F/1/S|  TRAPPIST-1e|16.0|false|      303.0|     70.0|       151.0| 565.0|   2.0| Willy Santantines|       true|
|    0005_01|     Earth|    false|F/0/P|PSO J318.5-22|44.0|false|        0.0|    483.0|         0.0| 291.0|   0.0| Sandie Hinetthews|       true|
|    0006_01|     Earth|    false|F/2/S|  TRAPPIST-1e|26.0|false|       42.0|   1539.0|         3.0|   0.0|   0.0|Billex Jacostaffey|       true|
|    0006_02|     Earth|     true|G/0/S|  TRAPPIST-1e|28.0|false|        0.0|      0.0|         0.0|   0.0|  NULL|Candra Jacostaffey|       true|
|    0007_01|     Earth|    false|F/3/S|  TRAPPIST-1e|35.0|false|        0.0|    785.0|        17.0| 216.0|   0.0|     Andona Beston|       true|
|    0008_01|    Europa|     true|B/1/P|  55 Cancri e|14.0|false|        0.0|      0.0|         0.0|   0.0|   0.0|    Erraiam Flatic|       true|
|    0008_02|    Europa|     true|B/1/P|  TRAPPIST-1e|34.0|false|        0.0|      0.0|        NULL|   0.0|   0.0|    Altardr Flatic|       true|
|    0008_03|    Europa|    false|B/1/P|  55 Cancri e|45.0|false|       39.0|   7295.0|       589.0| 110.0| 124.0|     Wezena Flatic|       true|
|    0009_01|      Mars|    false|F/1/P|  TRAPPIST-1e|32.0|false|       73.0|      0.0|      1123.0|   0.0| 113.0|      Berers Barne|       true|
|    0010_01|     Earth|    false|G/1/S|  TRAPPIST-1e|48.0|false|      719.0|      1.0|        65.0|   0.0|  24.0|    Reney Baketton|      false|
|    0011_01|     Earth|    false|F/2/P|  TRAPPIST-1e|28.0|false|        8.0|    974.0|        12.0|   2.0|   7.0|   Elle Bertsontry|       true|
|    0012_01|     Earth|    false| NULL|  TRAPPIST-1e|31.0|false|       32.0|      0.0|       876.0|   0.0|   0.0|     Justie Pooles|      false|
|    0014_01|      Mars|    false|F/3/P|  55 Cancri e|27.0|false|     1286.0|    122.0|        NULL|   0.0|   0.0|       Flats Eccle|      false|
|    0015_01|     Earth|    false|F/4/P|  55 Cancri e|24.0|false|        0.0|      1.0|         0.0|   0.0| 637.0|   Carry Hughriend|      false|
|    0016_01|      Mars|     true|F/5/P|  TRAPPIST-1e|45.0|false|        0.0|      0.0|         0.0|   0.0|   0.0|        Alus Upead|       true|
|    0017_01|     Earth|    false|G/0/P|  TRAPPIST-1e| 0.0|false|        0.0|      0.0|         0.0|   0.0|   0.0|     Lyde Brighttt|       true|
+-----------+----------+---------+-----+-------------+----+-----+-----------+---------+------------+------+------+------------------+-----------+
only showing top 20 rows

In [20]:
fillna_values = {'CryoSleep': False, 
                  'VIP': False,
                  'Age': 0,
                  'VRDeck': 0,
                  'Cabin': '/0/',
                  'Destination': '',
                  'ShoppingMall': 0,
                  'Name': '',
                  'RoomService': 0,
                  'FoodCourt': 0,
                  'HomePlanet': '',
                  'Spa': 0}

validation_data = validation_data.fillna(value=fillna_values)
train_data = train_data.fillna(value=fillna_values)
train_data.show()

+-----------+----------+---------+-----+-------------+----+-----+-----------+---------+------------+------+------+------------------+-----------+
|PassengerId|HomePlanet|CryoSleep|Cabin|  Destination| Age|  VIP|RoomService|FoodCourt|ShoppingMall|   Spa|VRDeck|              Name|Transported|
+-----------+----------+---------+-----+-------------+----+-----+-----------+---------+------------+------+------+------------------+-----------+
|    0001_01|    Europa|    false|B/0/P|  TRAPPIST-1e|39.0|false|        0.0|      0.0|         0.0|   0.0|   0.0|   Maham Ofracculy|      false|
|    0002_01|     Earth|    false|F/0/S|  TRAPPIST-1e|24.0|false|      109.0|      9.0|        25.0| 549.0|  44.0|      Juanna Vines|       true|
|    0003_01|    Europa|    false|A/0/S|  TRAPPIST-1e|58.0| true|       43.0|   3576.0|         0.0|6715.0|  49.0|     Altark Susent|      false|
|    0003_02|    Europa|    false|A/0/S|  TRAPPIST-1e|33.0|false|        0.0|   1283.0|       371.0|3329.0| 193.0|      Solam Susent|      false|
|    0004_01|     Earth|    false|F/1/S|  TRAPPIST-1e|16.0|false|      303.0|     70.0|       151.0| 565.0|   2.0| Willy Santantines|       true|
|    0005_01|     Earth|    false|F/0/P|PSO J318.5-22|44.0|false|        0.0|    483.0|         0.0| 291.0|   0.0| Sandie Hinetthews|       true|
|    0006_01|     Earth|    false|F/2/S|  TRAPPIST-1e|26.0|false|       42.0|   1539.0|         3.0|   0.0|   0.0|Billex Jacostaffey|       true|
|    0006_02|     Earth|     true|G/0/S|  TRAPPIST-1e|28.0|false|        0.0|      0.0|         0.0|   0.0|   0.0|Candra Jacostaffey|       true|
|    0007_01|     Earth|    false|F/3/S|  TRAPPIST-1e|35.0|false|        0.0|    785.0|        17.0| 216.0|   0.0|     Andona Beston|       true|
|    0008_01|    Europa|     true|B/1/P|  55 Cancri e|14.0|false|        0.0|      0.0|         0.0|   0.0|   0.0|    Erraiam Flatic|       true|
|    0008_02|    Europa|     true|B/1/P|  TRAPPIST-1e|34.0|false|        0.0|      0.0|         0.0|   0.0|   0.0|    Altardr Flatic|       true|
|    0008_03|    Europa|    false|B/1/P|  55 Cancri e|45.0|false|       39.0|   7295.0|       589.0| 110.0| 124.0|     Wezena Flatic|       true|
|    0009_01|      Mars|    false|F/1/P|  TRAPPIST-1e|32.0|false|       73.0|      0.0|      1123.0|   0.0| 113.0|      Berers Barne|       true|
|    0010_01|     Earth|    false|G/1/S|  TRAPPIST-1e|48.0|false|      719.0|      1.0|        65.0|   0.0|  24.0|    Reney Baketton|      false|
|    0011_01|     Earth|    false|F/2/P|  TRAPPIST-1e|28.0|false|        8.0|    974.0|        12.0|   2.0|   7.0|   Elle Bertsontry|       true|
|    0012_01|     Earth|    false|  /0/|  TRAPPIST-1e|31.0|false|       32.0|      0.0|       876.0|   0.0|   0.0|     Justie Pooles|      false|
|    0014_01|      Mars|    false|F/3/P|  55 Cancri e|27.0|false|     1286.0|    122.0|         0.0|   0.0|   0.0|       Flats Eccle|      false|
|    0015_01|     Earth|    false|F/4/P|  55 Cancri e|24.0|false|        0.0|      1.0|         0.0|   0.0| 637.0|   Carry Hughriend|      false|
|    0016_01|      Mars|     true|F/5/P|  TRAPPIST-1e|45.0|false|        0.0|      0.0|         0.0|   0.0|   0.0|        Alus Upead|       true|
|    0017_01|     Earth|    false|G/0/P|  TRAPPIST-1e| 0.0|false|        0.0|      0.0|         0.0|   0.0|   0.0|     Lyde Brighttt|       true|
+-----------+----------+---------+-----+-------------+----+-----+-----------+---------+------------+------+------+------------------+-----------+
only showing top 20 rows

In [29]:
print(train_data.count())
print(validation_data.count())

8693
4277

### Create deck, num, side columns

In [30]:
from pyspark.sql.functions import split

split_col = split(train_data['Cabin'], '/')
train_data = train_data.withColumn('Deck', split_col.getItem(0)) \
       .withColumn('Num', split_col.getItem(1)) \
       .withColumn('Side', split_col.getItem(2))

split_col = split(validation_data['Cabin'], '/')
validation_data = validation_data.withColumn('Deck', split_col.getItem(0)) \
       .withColumn('Num', split_col.getItem(1)) \
       .withColumn('Side', split_col.getItem(2))

### Create passenger group column